Basic Python

In [ ]:
1.Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s = "Hi there Sam!"
x = s.split()
print(x)

['Hi', 'there', 'Sam!']

2.Use format() to print the following string.

Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
txt="The diameter of {planet} is {diameter} kilometer.".format(planet = "Earth",
                                                               diameter = 12742)
print(txt)

The diameter of Earth is 12742 kilometer.

**3. In this nest dictionary grab the word "hello"**

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

**Numpy**

In [ ]:
import numpy as np

4.1 Create an array of 10 zeros?

4.2 Create an array of 10 fives?

In [ ]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
np.full((10),5)

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

5.Create an array of all the even integers from 20 to 35

In [ ]:
array=np.arange(20,35,2)
print (array)

[20 22 24 26 28 30 32 34]

6.Create a 3X3 matrix with values ranging from 0 to 8.

In [ ]:
x=np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

7. Concatenate a and b \n

 a = np.array([1, 2, 3]), b = np.array([4, 5, 6])]

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
x=np.concatenate((a,b),axis=0)
print(x)

[1 2 3 4 5 6]

Pandas

8.Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
data=[[1,2],[3,4],[5,6]]
df=pd.DataFrame(data,columns=['no1','no2'])
print(df)

   no1  no2
0    1    2
1    3    4
2    5    6

9.Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import pandas as pd

In [ ]:
per1 = pd.date_range(start ='1-Jan-2023', 
         end ='10-Feb-2023', )
  
for val in per1:
    print(val)

2023-01-01 00:00:00
2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-07 00:00:00
2023-01-08 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-14 00:00:00
2023-01-15 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-21 00:00:00
2023-01-22 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-28 00:00:00
2023-01-29 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-04 00:00:00
2023-02-05 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00

10.Create 2D list to DataFrame

lists = [[1, 'aaa', 22],  

        [2, 'bbb', 25], 
        
        [3, 'ccc', 24]]

In [ ]:
import pandas as pd

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
df=pd.DataFrame(lists,columns=['id','tag_name','number'])
print(df)

   id tag_name  number
0   1      aaa      22
1   2      bbb      25
2   3      ccc      24